/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  order: 0;
}

#logo-img{
  background: url('../images/cmu-name-logo.jpg') no-repeat;
  width: 50px;
  height: 50px;
  margin: 10px 15px 10px 0;
}

.navbar-brand{
  padding-top: 25pt;
}

.navbar-brand h1{
  /* font-family: 'Lora', serif; */
  color: grey;
  font-size: 15.em;
  text-transform: uppercase;
  font-weight: bold;
  /* text-shadow: 1px 1px 1px #222; */
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand p{
  color: #000;
  font-size: .7em;
  margin-top: 15px; 
}

.navbar-brand p span{
  vertical-align: middle;
}

/** Icon **/
#iconbg {
  width: 350px;
  height: 80px;
  /* background-color: rgb(170, 187, 145); */
  /* float: right;
  clear: left; */
}

p img {
  clear: left;
}

#menu-outer {
  height: 84px;
}

.table {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list li {
  display: inline;
}

header li {
  list-style: none;
  font-family: Verdana, sans-serif;
  display: inline;
}

section {
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

/* 
a:link,
a:visited {
  text-decoration: none;
  background-color: green;
  border: 1px solid wheat;
  color: rgb(30, 163, 141);
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
} */

a:hover,
a:active {
  background-color: rgb(67, 65, 199);
  color: greenyellow
}

.footer {
  color: red;
  text-align: left;
}

p.footer{
  font-size: 12px;
}

h2,
.topic {
  color: rgb(167, 197, 167);
  font-size: 30px;
  /* width: 30px; */
  text-align: left;
  /* float: left; */
  display: inline;
}

/* h1 {
  color: green;
  font-size: 36px;
  text-align: center;
} */



section div:nth-child(odd) {
  background-color: gray;
}

section div:nth-child(4):hover {
  background-color: green;
  cursor: pointer;
}

article{
  font-size: 15px;
} 

/*From week2*/
#box {
  /*background-color: blue;*/
  font-size: 15px;
  padding: 3px;
  border: 2px solid black;
  width: 500px;
  height: 30px;
  margin-top: 10px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: auto;
}

.row {
  margin-bottom: 15px;
}

.row>div {
  border: 2px solid whitesmoke;
  background-color: rgb(71, 76, 80);
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #24212b;
}