header li {
  list-style: none;
  font-family: Verdana, sans-serif  
}

section {
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}
/* 
a:link,
a:visited {
  text-decoration: none;
  background-color: green;
  border: 1px solid wheat;
  color: rgb(30, 163, 141);
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
} */

a:hover,
a:active {
  background-color: rgb(67, 65, 199);
  color: greenyellow
}

article.footer {
  color: rgb(36, 47, 56)
}

h2,
.topic {
  color: peru;
  font-size: 20px;
  /* width: 30px; */
  text-align: center;
  display: inline;
}

h1 {
  color: green;
  font-size: 36px;
  text-align: center;
}



section div:nth-child(odd) {
  background-color: gray;
}

section div:nth-child(4):hover {
  background-color: green;
  cursor: pointer;
}



/*From week2*/
#box {
  /*background-color: blue;*/
  padding: 10px;
  border: 2px solid black;
  width: 400px;
  height: 50px;
  margin-top: 50px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}
